<% 
    function formatDate(date) {
        var monthNames = [
            "Janeiro", "Fevereiro", "Março",
            "Abril", "Maio", "Junho", "Julho",
            "Agosto", "Setembro", "Outubro",
            "Novembro", "Dezembro"
            ];
    
        var day = date.getDate();
        var monthIndex = date.getMonth();
        var year = date.getFullYear();
    
        return day + ' ' + monthNames[monthIndex] + ' ' + year;
    }
%>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Courser App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/logo2.png" type="image/png">
    <link rel="stylesheet"                                                  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js">
    </script>
</head>
<body>
    <nav class="row">
        <div class="nav-wrapper cyan darken-1">
            <a href="/home" class="brand-logo">Courser</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="/listaCurso">
                        Cursos
                    </a>
                </li>
                <li>
                    <a href="/gerenciaUsuario">
                        Usuários
                    </a>
                </li>
                <li><a href="/logout">
                    Sair</a>
                </li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li style="height: 15em;">
            <div class="user-view" style="padding-top: 0;">
                <div class="background" style="height: 30em;">
                    <img src="/images/logo.png" class="responsive-img">
                </div>
                <span><%= formatDate(new Date) %></span>
            </div>
        </li>
        <li>
            <a href="/listaCurso">
                <i class="material-icons md-18">list_alt</i>
                Cursos
            </a>
        </li>
        <li>
            <a href="/gerenciaUsuario">
                <i class="material-icons md-18">people_outline</i> 
                Usuários
            </a>
        </li>
        <li>
            <a href="/logout">
                <i class="material-icons md-18">input</i> 
                Sair
            </a>
        </li>
    </ul>
    <div class="container">
    
