<% include ../menu/menu.ejs %>
<div class="row">
    <!-- <div class="card small"> -->
    <div class="col s12">
        <ul class="collection with-header">
            <li class="collection-header">
                <div class="row">
                    <h4 class="s12">Usuários</h4>
                    <a href="#modalUsuario" class="waves-effect waves-light btn right modal-trigger"><i class="material-icons left">add</i>adicionar</a>
                </div>
            </li>
            <% 
                if(usuarios.length > 0) { 
                    usuarios.forEach(function(user, index) {
            %>
                <li class="collection-item">
                    <div class="row">
                        <%= user.email %>
                        <a href="#modalRemoveUsuario" class="secondary-content tooltipped modal-trigger"      data-position="top" data-tooltip="Remover" style="margin-left: 2em;"
                            onclick="setIdToRemove(event, '<%= user._id %>')">
                            <i class="material-icons">delete_outline</i>
                        </a>
                    </div>
                </li>
            <%
                    }) 
                } else { 
            %>
                <li class="collection-item">
                    <p>Nenhum item encontrado.</p>
                </li>
            <% 
                } 
            %>
        </ul>
    </div>
    <div id="modalUsuario" class="modal">
        <div class="modal-content">
            <div class="row">
                <h4 class="col s12">Cadastrar Usuário</h4>
                <form action="/adicionarUsuario" method="post" id="useradd" name="useradd">
                    <div class="input-field col s12">
                        <input name="usuario[email]" id="email" type="email" class="validate">
                        <label for="email">E-mail</label>
                    </div>
                    <div class="input-field col s12 l6">
                        <input name="usuario[senha]" id="pass" type="password" class="validate">
                        <label for="pass">Senha</label>
                    </div>
                    <div class="input-field col s12 l6">
                        <input name="usuario[confirma]" id="confirmPass" type="password" class="validate">
                        <label for="confirmPass">Confirmação da senha</label>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a 
                href="#!" 
                class="modal-close waves-effect waves-green btn-flat" 
                id="cancel" 
                name="cancel">Cancelar</a>
            <a 
                href="#!" 
                class="modal-close waves-effect waves-green btn-flat"
                id="save"
                name="save">Salvar</a>
        </div>
    </div>
    <div id="modalRemoveUsuario" class="modal">
        <div class="modal-content">
            <div class="row center">
                <h4 class="s12">Deseja realmente remover este o usuário ?</h4>
                <form id="removeUsuario" name="removeUsuario" action="/removerUsuario" method="post" class="form">
                    <div class="row">
                        <div class="input-field col s12 center">
                            <p>Ao remover o usuário selecionado a ação não poderá ser revertida.</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a 
                href="#!" 
                class="modal-close waves-effect waves-green btn-flat" 
                id="cancelRemove" 
                name="cancelRemove">Cancelar</a>
            <a 
                href="#!" 
                class="modal-close waves-effect waves-green btn-flat"
                id="removerUsuario"
                name="removerUsuario">Continuar</a>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems,);
    });

    // buttons action
    document.querySelector('#save')
        .addEventListener('click', (ev)=>{
            ev.preventDefault();
            document.querySelector('#useradd')
                .submit();
        });

    document.querySelector('#cancel')
        .addEventListener('click', (ev)=>{
            ev.preventDefault();
            cleanModal();
        });

    document.querySelector('#removerUsuario')
        .addEventListener('click', (ev)=>{
            ev.preventDefault();
            document
                .querySelector('#removeUsuario')
                .submit();
        });

    document.querySelector('#cancelRemove')
        .addEventListener('click', (ev)=>{
            ev.preventDefault();
            document
                .querySelector('#removeUsuario')
                .attributes
                .action = '/removerUsuario';
        });

    // functions
    function cleanModal() {
        document.querySelector('#email').value = '';
        document.querySelector('#pass').value = '';
        document.querySelector('#confirmPass').value = '';
    }
    function setIdToRemove(ev, id) {
        ev.preventDefault();
        if(id != undefined && id != null && id != '') {
            document
            .querySelector('#removeUsuario')
            .action = '/removerUsuario/'+id;
        }
    }

</script>
<% include ../menu/close-menu.ejs %>